@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=League+Gothic&family=Montserrat:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* reset  */
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --black: #252525;
    --yellow: #FFA400;
    --crimson-light: #FC2933;
    --white: #FFFFFF;
    --linear-gradient: linear-gradient(to right,#FFA100,#FB103D);
    --bg-color: #131415;
    --border-radius: 15px;
}

body{
    font-size: 15px;
    background-color: var(--bg-color);
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
/*? terminan estilos generales*/

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo{
    width: 40px;
    min-width: 40px;
    max-width: 60px;
}

.nav__logo > a{
    width: 100%;
    display: block;
}

.nav__logo > a > img{
    width: 100%;
}

.nav__options{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}


.nav__home{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__home > span {
    color: var(--white);
} 

/* ?media query del nav */
@media (min-width: 768px){
    .nav__options{
        gap: 60px;
    }

    .nav img:hover:not([class="nav__home"] img){
        cursor: pointer;
        filter: drop-shadow(0 0 25px var(--white))
    }

    .nav__options .nav__home:hover{
        filter: drop-shadow(0 0 25px var(--white));
    }
} 

/*estilos carrito de compra*/

.container-carrito{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0; left: 0;
    z-index: 99;
    background-color: hsl(210, 5%, 8%,70%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    opacity:0;
    visibility: hidden;
}

.carrito{
    color: var(--white);
    width: 450px;
    border-radius: var(--border-radius);
    background-color: var(--black); 
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    position: relative;
}

.carrito__close{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
    font-size: 14px;
    left: 10px; top: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: var(--linear-gradient);
    cursor: pointer;
}

.carrito__title{
    margin-top: 50px;
    padding: 10px 20px;
}








/* estilos del hero */
    .about-section {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 50px;
    margin: 0 auto;
    max-width: 1300px;
}
.aboout-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 40px;
    max-width: max(40%, 300px);
}

.hero-title {
    position: absolute;
    width: 600px;
    height: 93px;
    left: 133px;
    top: 178px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 66px;
    line-height: 131.02%;
    color: var(--white);
}

.hero-title2 { 
    position: absolute;
    width: 639px;
    height: 118px;
    left: 133px;
    top: 263px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 131.02%;
    color: var(--white);
} 

p {
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    line-height: 1px;
    font-size: 21px;
    left: 133px;
    color: var(--white);
} 

.btn-hero {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    width: 166px;
    height: 50px;
    left: 133px;
    top: 415px;
    border-radius: 15px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
}